node_modules
.next
out
coverage
.test-dist
.turbo
.eslintcache

.git
.github
.idea
.vscode
.env
.env.*
.npmrc
.npm
.yarnrc*
.pnpmfile.cjs
.netrc
*.pem
*.key
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
