{% load i18n %}

{% if not theme %}
    <div
        class="border-b border-base-200 grid grid-cols-3 gap-1 mb-1 pb-1 px-2 dark:border-base-700"
        data-testid="admin-theme-switch"
    >
        <a
            aria-label="{% trans 'Light' %}"
            class="cursor-pointer flex flex-col gap-1 items-center justify-center min-w-0 px-1 py-1.5 rounded-default text-center hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200"
            role="button"
            tabindex="0"
            title="{% trans 'Light' %}"
            x-on:click="switchTheme('light')"
            x-on:keydown.enter.prevent="switchTheme('light')"
            x-on:keydown.space.prevent="switchTheme('light')"
            x-bind:aria-pressed="adminTheme == 'light'"
            x-bind:class="adminTheme == 'light' && 'text-primary-600 dark:text-primary-500 dark:hover:text-primary-500! hover:text-primary-600!'"
        >
            <span aria-hidden="true" class="material-symbols-outlined">light_mode</span>
            <span class="leading-none max-w-full self-center text-xs truncate">{% trans "Light" %}</span>
        </a>

        <a
            aria-label="{% trans 'Dark' %}"
            class="cursor-pointer flex flex-col gap-1 items-center justify-center min-w-0 px-1 py-1.5 rounded-default text-center hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200"
            role="button"
            tabindex="0"
            title="{% trans 'Dark' %}"
            x-on:click="switchTheme('dark')"
            x-on:keydown.enter.prevent="switchTheme('dark')"
            x-on:keydown.space.prevent="switchTheme('dark')"
            x-bind:aria-pressed="adminTheme == 'dark'"
            x-bind:class="adminTheme == 'dark' && 'text-primary-600 dark:text-primary-500 dark:hover:text-primary-500! hover:text-primary-600!'"
        >
            <span aria-hidden="true" class="material-symbols-outlined">dark_mode</span>
            <span class="leading-none max-w-full self-center text-xs truncate">{% trans "Dark" %}</span>
        </a>

        <a
            aria-label="{% trans 'System' %}"
            class="cursor-pointer flex flex-col gap-1 items-center justify-center min-w-0 px-1 py-1.5 rounded-default text-center hover:bg-base-100 hover:text-base-700 dark:hover:bg-base-700 dark:hover:text-base-200"
            role="button"
            tabindex="0"
            title="{% trans 'System' %}"
            x-on:click="switchTheme('auto')"
            x-on:keydown.enter.prevent="switchTheme('auto')"
            x-on:keydown.space.prevent="switchTheme('auto')"
            x-bind:aria-pressed="adminTheme == 'auto'"
            x-bind:class="adminTheme == 'auto' && 'text-primary-600 dark:text-primary-500 dark:hover:text-primary-500! hover:text-primary-600!'"
        >
            <span aria-hidden="true" class="material-symbols-outlined">computer</span>
            <span class="leading-none max-w-full self-center text-xs truncate">{% trans "System" %}</span>
        </a>
    </div>
{% endif %}
